* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  z-index: 0;
}
$color1: hsl(0, 0%, 100%);
$color2: hsl(275, 100%, 97%);
$color3: hsl(292, 16%, 49%);
$color4: hsl(292, 42%, 14%);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $color2;
}
.topBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
  z-index: -1;
  background-image: url("public/images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.topContainer {
  display: flex;
  align-items: center;
  color: $color4;
  padding: 42px 0px 10px 42px;
  gap: 20px;
  align-self: flex-start;
  h1 {
    font-size: 55px;
    font-weight: 700;
  }
}
.app {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: fit-content;
  height: fit-content;
  background: $color1;
  align-items: center;
  box-shadow: 0px 5px 82px -29px $color3;
}
.accordionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .headerContainer {
    font-weight: 700;
    display: flex;
    color: $color4;
    justify-content: space-between;
    width: 93%;
    padding: 26px;
    padding-right: 20px;
  }
  .headerContainer:hover {
    color: #ad28eb;
    cursor: pointer;
  }
  .accordion {
    transition: all 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 18px;
    .accordionText {
      width: 80%;
      color: black;
      text-align: left;
      font-weight: 400;
      color: $color3;
    }
  }

  .accordionOpen {
    height: 100px;
  }
  .accordionClosed {
    height: 0px;
  }
}

.divider {
  width: 85%;
  height: 1px;
  background: $color2;
}

@media screen and (max-width: 630px) {
  .app {
    width: 90%;
    margin: auto;
  }
  .accordionOpen {
    min-height: fit-content;
  }
}
@media screen and (max-width: 545px) {
  .accordionOpen {
    min-height: 115px;
  }
}
@media screen and (max-width: 445px) {
    .accordionOpen {
      min-height: 135px;
    }
  }
  
  @media screen and (max-width: 380px) {
    .accordionOpen {
      min-height: 155px;
    }
  }
